.btnSeat1{
    margin: 10px;
    width: 35px;
    height: 25px;
}
.btnSeat2{
    margin: 10px;
    width: 35px;
    height: 25px;
    margin-top: -10px;
}
.btnSeat3{
    margin: 10px;
    width: 35px;
    height: 25px;
}